:root {
  color-scheme: light;

  --staticsearch-color-back: var(--ztc-bg-bg-8);
  --staticsearch-color-shadow: rgba(0, 0, 0, 0.5);
}

static-search {
  font-family: var(--ztc-family-font2);
}

main {

  h2, h3 {
    margin-block-start: 1em;
  }

}

.metadata {

  li {
    display: inline-block;

    &:not(:first-child) {
      padding-inline-start: 0.6em;
      margin-inline-start: 0.6em;
      border-inline-start: 1px solid #999;
    }
  }

  a {
    display: inline-block;
    padding-inline-end: 0.6em;
  }

}

/* article list */
.pagelist {

  font-family: var(--ztc-family-font2);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2em;
  padding: 0;
  margin: 1.5em 0;

  article {
    flex: 1 1 20em;
    block-size: 20em;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    background-color: var(--ztc-bg-bg-6);
  }

  a, img.back {
    display: block;
    block-size: 100%;
    inline-size: auto;
    object-fit: cover;
  }

  div {
    position: absolute;
    inset: auto 1em 1em 1em;
    padding: 1em;
    color: var(--ztc-text-text-1);
    background-color: var(--ztc-text-text-11);
    border-radius: 6px;
  }

  h2, p {
    margin: 0;
  }

  p.readmore {
    margin-block-start: 0.5em;
  }

  p.pubdate img {
    display: inline-block;
    vertical-align: center;
  }

  img.back {
    transition: transform 1s ease-out;
  }

  a:hover, a:active, a:focus {

    img.back {
      transform: scale(1.2);
    }

  }

}

/* numbered pagination */
.pagination {

  margin-block: 3em;
  user-select: none;

  ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.3em;
    padding: 0;
    margin: 0 auto;
  }

  li {
    inline-size: 2em;
    text-align: center;
    padding: 0;
    margin: 0;
  }

  .gap {
    inline-size: auto;
    padding: 0.3em 0;
  }

  a, span, strong {
    display: block;
    text-decoration: none;
    padding: 0.25em 0;
    color: var(--ztc-text-text-12);
    background-color: var(--ztc-bg-bg-1);
    border: 1px solid var(--ztc-text-text-12);
  }

  span {
    color: var(--ztc-text-text-21);
    background-color: var(--ztc-bg-bg-1);
    border-color: var(--ztc-text-text-21);
  }

  strong, a:hover, a:focus, a:active {
    text-decoration: none;
    color: var(--ztc-bg-bg-1);
    background-color: var(--ztc-text-text-12);
  }

  @media (width > 34em) {

    .back, .next {
      inline-size: 3em;
    }

  }

}

/* tag list */
.taglist {

  ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5em;
    margin-block: 3rem;
  }

  li {
    padding: 0;
    margin: 0;
  }

  .taglist5 { font-size: var(--ztc-font-size-font-s32); }
  .taglist4 { font-size: var(--ztc-font-size-font-s28); }
  .taglist3 { font-size: var(--ztc-font-size-font-s24); }
  .taglist2 { font-size: var(--ztc-font-size-font-s20); }
  .taglist1 { font-size: var(--ztc-font-size-font-s16); }

  a:link, a:visited {
    display: block;
    line-height: 1;
    text-decoration: none;
    padding-block: 0.1em 0.2em;
    padding-inline: 0.6em 0.4em;
    border-radius: 1em;
    color: var(--ztc-text-text-1);
    background-color: var(--ztc-text-text-11);
    overflow: clip;
  }

  a:hover, a:active, a:focus {
    color: var(--ztc-text-text-1);
    background-color: var(--ztc-text-text-12);
  }

  sup {
    display: inline-block;
    font-size: 0.6em;
    min-inline-size: 1.3em;
    inline-size: fit-content;
    block-size: auto;
    aspect-ratio: 1;
    text-align: center;
    align-content: center;
    color: var(--ztc-text-text-3);
    background-color: var(--ztc-bg-bg-3);
    border-radius: 50%;
  }

}

/* back/next navigation */
.backnext {

  margin-block: 4em;

  ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: dense;
    gap: 1em;
    list-style-type: none;
    padding: 0;
    margin-block: 0;
  }

  li {
    padding: 0;
    margin: 0;
  }

  a:link, a:visited, a:hover, a:active, a:focus, span, strong {
    display: block;
    text-decoration: none;
  }

  strong {
    font-weight: var(--ztc-weight-bold);
  }

  a:link, a:visited {
    block-size: 100%;
    padding-block: 0.5em;
    padding-inline: 1em;
    border: 1px solid var(--ztc-text-text-5);
    border-radius: 5px;
  }

  a:hover, a:active, a:focus {
    color: var(--ztc-text-text-1);
    background-color: var(--ztc-text-text-11);
    border-color: var(--ztc-text-text-11);
  }

  span {
    font-size: var(--ztc-font-size-font-s14);
  }

  .back {
    grid-column: 1 / 2;
    text-align: start;
  }

  .next {
    grid-column: 2 / 3;
    text-align: end;
  }

}


